{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</head>

<body>

    <nav id='common-home-navbar' class="navbar bg-body-tertiary">
        <div class="container-fluid appname">


            <img src="{% static 'images/Group 9.png' %}">



            <form class="d-flex usernav-links" role="search">
                <p><a href="">Home</a></p>
                <p><a href="">About Us</a></p>

                <select class="custom-select">
                    <option>Submission</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                </select>


                <p><a href="">Master Writers</a></p>
                <p><a href="">Check Document</a></p>
                <p><a href="">Chat</a></p>
                <p><a href="">Contact Us</a></p>



            </form>


            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" d="m21 21l-4.343-4.343m0 0A8 8 0 1 0 5.343 5.343a8 8 0 0 0 11.314 11.314" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24">
                    <g fill="none" stroke="currentColor" stroke-width="2">
                        <path stroke-linejoin="round"
                            d="M4 18a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2z" />
                        <circle cx="12" cy="7" r="3" />
                    </g>
                </svg>
            </div>


        </div>
    </nav>

    <section id="hero">

        <div class="banner">




            <h1>Master your words for novels, poems, or any content with <span>Pen Craft.</span></h1>
            <ul style="list-style-type: disc;">
                <li>Turn your ideas into captivating stories.</li>
                <li>Craft content that connects.</li>
                <li> Elevate your writing with expert guidance.</li>
            </ul>

        </div>


    </section>

    <section id="box">
        <div class="contents">
            <h1>Better writing, Better results</h1>
            <p>Pen Craft pairs you with expert writing mentors to refine your ideas, polish your prose, and guide you to
                writing success.Unleash your inner author! Pen Craft connects you with writing mentors who'll ignite
                your creativity, elevate your craft, and help you transform your story from spark to masterpiece.</p>
        </div>
    </section>

    <section id="box-2" class="row">

        <div class="col-6">
            <div class="container-a">

                <div class=" container-a-boxes ">

                    <div class="imgbox">
                        <img src="{% static 'images/Rectangle 57.png' %}">
                    </div>

                    <div class="imgbox-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">

                            <path fill="#FFFFFF"
                                d="M12 4.557l2.127 5.01l5.43.47l-4.123 3.572l1.241 5.313l-5.315-3.197L7.749 18.92l1.24-5.313l-4.123-3.572z" />

                            <path fill="#00A3FF"
                                d="m8.85 16.825l3.15-1.9l3.15 1.925l-.825-3.6l2.775-2.4l-3.65-.325l-1.45-3.4l-1.45 3.375l-3.65.325l2.775 2.425zm-1.525 2.098l1.24-5.313l-4.123-3.572l5.431-.47L12 4.557l2.127 5.01l5.43.47l-4.123 3.572l1.241 5.313L12 16.102zM12 12.25" />
                        </svg>


                        <h5>Level Up Your Lit:</h5>
                        <p>Ditch the Plagiarism Panic and Grammar Gaffes</p>
                    </div>



                </div>






            </div>
            <div class="container-a-boxes2">
                <div class="imgbox-3">


                    <div class="sub-a">
                        <h5><span>Levael </span> &nbsp;up your skills.</h5>
                    </div>


                    <div class="sub-b">
                        <h6>spelling</h6>
                        <h5>Levael &nbsp;&nbsp;<img src="{% static 'images/Arrow 1.png' %}"> &nbsp;&nbsp;<span>level</span></h5>
                        <p>The word leval does not seem to fit his content. Consider replacing it with a different one.
                        </p>
                    </div>



                </div>

                <div class="imgbox-4">

                    <img src="{% static 'images/Rectangle 60.png' %}">

                </div>
            </div>
        </div>

        <div class="col-6">

            <div class="container-b">
                <h1>Plagiarism and Grammar checking</h1>
                <h3>From Plagiarism Peril to Polished Prose: Your All-in-One Writing Toolkit</h3>

                <ul style="list-style-type: disc;">
                    <li>This service offers a free grammar checking that identifies spelling errors, punctuation
                        mistakes, and other basic writing issues.</li>
                    <li>Plagiarism checking are handy tools for writers to ensure their work is original and properly
                        cited</li>
                </ul>

            </div>

        </div>


    </section>

    <section id="box-3">

        <div class="box-3-subdiv">

            <div class="box-3-heading">
                <h1>Top 5 Writing</h1>
            </div>

            <div class="row">


                <div class=" card  col-3">
                    <div class="slno">
                        <h1>1</h1>
                    </div>

                    <div class="card-flximg">
                        <img src="{% static 'images/Rectangle 53.png' %}">
                    </div>

                    <div class="row card-content">

                        <div class="col-4 spclhead">
                            <h4>Writers name </h4>
                            <h4>Category</h4>
                            <h4>Title</h4>
                            <h4>Summary</h4>
                        </div>

                        <div class="col-1 spclhead">
                            <h4>:</h4>
                            <h4>:</h4>
                            <h4>:</h4>
                            <h4>:</h4>

                        </div>

                        <div class="col-7">

                            <h4>Ashok AK</h4>
                            <h4>Article</h4>
                            <h4>Backyard Birds Making a Comeback in Urban Areas </h4>
                            <h4>Cities are becoming more bird-friendly, with residents planting native gardens and
                                putting
                                up feeders. This is leading to a rise in urban bird populations, with species like
                                chickadees and finches thriving. The article explores the reasons behind this trend and
                                the
                                benefits of having birds in our cities.</h4>

                        </div>



                    </div>

                    <div class="readmore spclhead">
                        <h4>Read More </h4>
                    </div>

                    <div class="card-marks">
                        <h4 class="spclhead">Mark</h4>
                        <h1>95%</h1>
                    </div>

                </div>

                <div class=" card  col-3">
                    <div class="slno">
                        <h1>2</h1>
                    </div>

                    <div class="card-flximg">
                        <img src="{% static 'images/Rectangle 53.png' %}">
                    </div>

                    <div class="row card-content">

                        <div class="col-4 spclhead">
                            <h4>Writers name </h4>
                            <h4>Category</h4>
                            <h4>Title</h4>
                            <h4>Summary</h4>
                        </div>

                        <div class="col-1 spclhead">
                            <h4>:</h4>
                            <h4>:</h4>
                            <h4>:</h4>
                            <h4>:</h4>

                        </div>

                        <div class="col-7">

                            <h4>Ashok AK</h4>
                            <h4>Article</h4>
                            <h4>Backyard Birds Making a Comeback in Urban Areas </h4>
                            <h4>Cities are becoming more bird-friendly, with residents planting native gardens and
                                putting
                                up feeders. This is leading to a rise in urban bird populations, with species like
                                chickadees and finches thriving. The article explores the reasons behind this trend and
                                the
                                benefits of having birds in our cities.</h4>

                        </div>



                    </div>

                    <div class="readmore spclhead">
                        <h4>Read More </h4>
                    </div>

                    <div class="card-marks">
                        <h4 class="spclhead">Mark</h4>
                        <h1>95%</h1>
                    </div>

                </div>

                <div class=" card  col-3">
                    <div class="slno">
                        <h1>3</h1>
                    </div>

                    <div class="card-flximg">
                        <img src="{% static 'images/Rectangle 53.png' %}">
                    </div>

                    <div class="row card-content">

                        <div class="col-4 spclhead">
                            <h4>Writers name </h4>
                            <h4>Category</h4>
                            <h4>Title</h4>
                            <h4>Summary</h4>
                        </div>

                        <div class="col-1 spclhead">
                            <h4>:</h4>
                            <h4>:</h4>
                            <h4>:</h4>
                            <h4>:</h4>

                        </div>

                        <div class="col-7">

                            <h4>Ashok AK</h4>
                            <h4>Article</h4>
                            <h4>Backyard Birds Making a Comeback in Urban Areas </h4>
                            <h4>Cities are becoming more bird-friendly, with residents planting native gardens and
                                putting
                                up feeders. This is leading to a rise in urban bird populations, with species like
                                chickadees and finches thriving. The article explores the reasons behind this trend and
                                the
                                benefits of having birds in our cities.</h4>

                        </div>



                    </div>

                    <div class="readmore spclhead">
                        <h4>Read More ></h4>
                    </div>

                    <div class="card-marks">
                        <h4 class="spclhead">Mark</h4>
                        <h1>95%</h1>
                    </div>

                </div>


            </div>

        </div>


    </section>

    <section id="box-4">

        <div class="box-4-content">

            <h1>How it helps you...</h1>

            <div class="vector-1"><img src="{% static 'images/Vector 7.png' %}"></div>
            <div class="vector-2"><img src="{% static 'images/Vector 8.png' %}"></div>
            <div class="vector-3"><img src="{% static 'images/Vector 9.png' %}"></div>

            <div class="box-4-group1 groupspecific">
                <h2>Sharpen Your Skills:</h2>
                <P>Get personalized feedback and guidance on writing techniques.</P>
            </div>

            <div class="box-4-group2 groupspecific">
                <h2>Navigate the Journey:</h2>
                <P>Receive advice on publishing, querying, or specific content goals.</P>
            </div>

            <div class="box-4-group3 groupspecific">
                <h2>Fast-Track Success:</h2>
                <P>Learn from experience and shorten your path to writing mastery.</P>
            </div>

            <div class="box-4-group4 groupspecific">
                <h2>Boost Confidence:</h2>
                <P>Gain a cheerleader and expert who believes in your work.</P>
            </div>



        </div>


    </section>

    <section id="box-5">
        <h1>Start your Journey Today !</h1>
        <p>Become a member of Pen Craft, an online learning and development platform where the writers takes their
            journey, while accessing craft resources and networking with industry professionals.</p>

        <div class="box-5-content-1">
            <h2>100+</h2>
            <h5>Masters</h5>
        </div>

        <div class="box-5-content-2">
            <h2>200+</h2>
            <h5> Users</h5>
        </div>


    </section>

    <section id="box-6">

        <div class="row">

            <div class="col-6 box-6-img">
<img src="{% static 'images/image 13 (1).png' %}">
            </div>

            <div class="col-6 box-6-content">
<h1>Match with a Mentor</h1>
<p>Mentors are like experienced friends who help you learn and grow.Pen whispers secrets, craft guides the hand. Loops and lines dance, meaning takes its stand. Sharpened strokes, a story unfolds. Confidence flows, the writer's heart is bold. Pencraft, your mentor, in ink and in soul.</p>
            </div>

        </div>

    </section>

    <section id="box-7">

        <h1>Contact us</h1>
<p>Pen Craft empowers you to transform your ideas into polished, captivating content.</p>
        <div class="row">

            <div class="col-6 box-7-img" >
<img src="{% static 'images/image 14.png' %}">
            </div>

            <div class="col-6 box-7-contactbox" >
<div class="box-7-contactform">
    <div class='form-input'>
        <input type='text' placeholder='Name'/>
    </div>
    <div class='form-input'>
        <input type='email' placeholder='E-Mail'/>
    </div>
    <div class='form-input'>
        <input type='text' placeholder='Question'/>
    </div>
    <div class='form-textarea'>
        <textarea placeholder="Comments"></textarea>
    </div>
    <div class="form-button">
        <button>Send Message</button>
    </div>
</div>
            </div>

        </div>
       

    </section>

    <section id="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div>
                        <img src="{% static 'images/Group 9 (1).png' %}">
                    </div>
                    
                </div>
                <div class="col-md-2">
                    <div class="footer_content">
                        <h3>Terms & Policies</h3>
                        <ul class="footer_list">
                            <li>Terms of Service</li>
                            <li>Priacy Policy</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
<!-- blank space -->
                </div>
                <div class="col-md-2">

                    <div class="footer_content">
                        <h3>Contact</h3>
                        <ul class="footer_list">
                            <li>(+91)1234567890</li>
                            <li>pencraft123@gmail.com</li>
                        </ul>
                    </div>
                  
                </div>

            </div>
        </div>
    </section>

   
        
    </div>

</body>

</html>