*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    overflow-x: hidden;
   
}

#home h2{
    padding-left: 2rem;
}

.main{
    padding-top: 14rem;
    text-align: center;
}

.main a{
    text-decoration: none;
}

.navbar {
    background-color:#EFF9FE;
    color: #333; /* Dark text color */
    padding: 0 3.5rem;
   box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2); /* Bottom-only shadow */
}

.navbar img{
    padding-left: 3rem;
}

.container-fluid {
    display: flex;
    justify-content: space-between; /* Align content at the start and end */
    align-items: center; /* Align items vertically at the center */
}

.appname {
    font-size: 24px; /* Larger font size for the app name */
}

.usernav-links{
    
    display: flex;
}

.usernav-links p {
       
    font-family: "Poppins", sans-serif;
        font-weight: 500;
    margin: 0 10px; /* Add some spacing between links */
    font-size: .9rem;
    
    
}

.usernav-links p a {
    color: #333; /* Dark text color for links */
    text-decoration: none; /* Remove underline from links */
    transition: color 0.3s; /* Smooth transition for link color change */
}

.usernav-links p a:hover {
    color: #00A3FF
    ; /* Change link color on hover */
    text-decoration: underline 2.5px solid #00A3FF
    ;
}


.usernav-links select{
    border: none;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: .9rem;
    color: #333;
    margin: 0 10px;
}

/* .usernav-links select:hover {
    color: #00A3FF; 
    text-decoration: underline 2.5px solid #00A3FF;
} */

.custom-select:hover {
    /* Add hover styles for the select element */
    color: #00A3FF
    ; /* Change link color on hover */
    text-decoration: underline 2.5px solid #00A3FF
    ;
  }

  .custom-select:focus {
    outline: none;
}

.icon {
    padding: 0 4rem; 
    margin-bottom: .5rem;
}

.icon svg {
    margin-left: .5rem;
}

#hero{
    box-sizing: border-box;
    background-image: url("./Assets/image\ 3.png");
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
     background-position: top 75% right 0;
}

.banner{
    padding-top: 6rem;
    padding-left: 7rem;
}

.banner h1{
    padding: 2rem;
    font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem; /* Adjust as needed */
    max-width: 650px; /* Adjust width to force wrapping */
}

.banner span{
    color: #00A3FF;
}

.banner ul{
    padding: 0 4.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

#box{
margin-left : 4rem;
margin-top: -8rem;
    background-image: url("./Assets/image\ 6.png");
    background-position: top 0 left 100%;
    height: 15rem;
    width:90%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #00A3FF;
    border-radius: .5rem;
}

.contents{
    padding-top: 4rem;
    padding-left: 7rem;
}

.contents h1{

    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
  
}

.contents p{
padding-top: .5rem;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: .8rem;
    max-width: 450px;
    font-weight: 400;
    
}

#box-2{
    padding: 4.3rem;

}

.imgbox{
   
    border-radius: 40px;
    height: 12rem;
    width: 19rem;
    background-color: lightblue;
}

.imgbox img{
    border:.5rem solid lightblue;
    border-radius: 40px;
    height: 12rem;
    width: 19rem;
   
}

.container-a{
    margin-top: -1rem;
}

.container-a-boxes {
    display: flex;
    padding-bottom: 2rem;
}

.imgbox-2{
    
    border: 1px solid #00A3FF;
   
    border-radius: 20px;
    height: 10rem;
    width: 12rem;
    margin-left: 2rem;
    margin-top: .6rem;
    padding: 1rem;
    background: linear-gradient(
        to bottom right, 
        rgba(0, 163, 255, 0.2) 0%,   /* Lighter #00A3FF at 20% opacity at the top-left */
        rgba(0, 163, 255, 0.1) 50%,  /* Lighter #00A3FF at 10% opacity at the midpoint */
        rgba(255, 255, 255, 0) 80%  /* #FFFFFF fully transparent at the bottom-right */
    );

}

.imgbox-2 h5{
color: #00A3FF;
    font-size: 1rem;
 font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.imgbox-2 p{
    font-size: .9rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    
}

.container-a-boxes2 {
    display: flex;
}

.imgbox-3{
    position: relative;
}

.sub-a{
    border: 1px solid #00A3FF;
    height:57px;
    width:203px;
    padding:.5rem;
    box-shadow: 0 6px 6px -2px rgba(0, 0, 0, 0.4); /* Bottom-only shadow */

}

.sub-a h5{
    padding-left: .6rem;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #00A3FF;
}

.sub-a h5 span{
    background-color: rgba(255, 0, 0, 0.38);
    color: #FF0000;
}

.sub-b{
   position: relative;
   bottom:.8rem;
   left: 3.5rem;
    border: 1px solid #00A3FF;
    height:94px;
    width:203px;
    padding: .5rem;
    background-color: #fff;
    box-shadow: 0 6px 6px -2px rgba(0, 0, 0, 0.4); /* Bottom-only shadow */

}



.sub-b h6{
    
    font-size: .6rem;
    /* margin-top: -.3rem; */
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin-bottom: .3rem;
    color: #00A3FF;
}

.sub-b h5{
    /* margin-top: -.3rem; */
    font-size: .8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #FF0000;
}

.sub-b h5 span{
    color: #00A3FF;
}

.sub-b p {
/* margin-top: -.3rem; */
    font-size: .5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.imgbox-4{
    margin-left: 5rem;
    border-radius: 40px;
    height: 12rem;
    width: 19rem;
    background-color: lightblue;
}

.imgbox-4 img{
    border:.5rem solid lightblue;
    border-radius: 40px;
    height: 12rem;
    width: 19rem;
}








.container-b h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 3.5rem;
    color: #00A3FF;
}
.container-b h3{
    padding-top: .3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #00A3FF;
}

.container-b ul {
    padding-top: .5rem;
}

.container-b ul li{
    padding-top: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

#box-3{
    
    background-color: #EFF9FE;
    padding-bottom: 2rem;
}

.box-3-subdiv{
    margin-left: 13rem;
}

.box-3-heading h1{
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2rem;
color: #00A3FF;
}

.card{
    margin-left: 2rem;
    height: 500px;
    width:594px;
    border: 1px solid #00A3FF;
    box-shadow: 
    10px 0 10px -9px rgba(0, 0, 0, 0.1), /* Left shadow */
    -10px 0 10px -9px rgba(0, 0, 0, 0.1); /* Right shadow */
}



.slno{
    margin-top: 1rem;
    border: 1px solid #00A3FF;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.slno h1{

    font-size: 1rem;
font-weight: 700;
padding-right: .1rem;
padding-top: .4rem;
text-align: center;
}

.card img {
    height: 150px;
width: 175px;
    margin-left: 3.2rem;
    margin-top: -2.3rem;
}

.card-content h4{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: .6rem;
    padding-top: .3rem;
}

.card-content{
padding-top: 1rem;
}

.readmore h4{
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: .6rem;
}

.card-marks {
    border: 1px solid black;
    height: 55px;
    width: 65px;
    padding: .2rem .7rem;
    position: absolute;
    right: 1rem;
    top: 26rem;
}

.card-marks h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: .8rem;
    padding-left: .2rem; 
      
}

.card-marks h1{

    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;  
    

}



.spclhead{
    color: #00A3FF;
}

#box-4 {
    padding-bottom: 30rem;
    background-image: url("./Assets/Frame\ 20.png");
    background-position: top 60% right 63%;
}

.elipsce-2{
 background-image: url("./Assets/Ellipse\ 2.png");   
}
.elipsce-2{
background-image: url("./Assets/Ellipse\ 3.png");
}

.box-4-content{
    position: relative;
   
}

.box-4-content h1{
text-align: center;
color: #00A3FF;
padding-top: 6rem;
}

.groupspecific{
    /* border: 1px solid black; */
    height: 91px;
    width:210px
}

.groupspecific h2,p{

    font-family: "Poppins", sans-serif;
    
}

.groupspecific h2{
    font-weight: 600;
    font-size:.9rem; 
    color: #00A3FF;
}
.groupspecific p{
    font-weight: 500;
    font-size: .7rem; 
    max-width: 160px;
}


.box-4-group1{
position: absolute;
top: 20rem;
left:15rem;

}

.box-4-group2{
position: absolute;
top: 29rem;
left:24.2rem;

}
.box-4-group3{
position: absolute;
top: 25.5rem;
left:57rem;

}
.box-4-group4{
position: absolute;
top: 15rem;
left:47.5rem;

}

.vector-1{
    position: absolute ;
    top: 14.5rem;
    left: 26.5rem;
}
.vector-2{
    position: absolute ;
    top: 19rem;
    left: 28.3rem;
}
.vector-3{
    position: absolute ;
    top: 26.6rem;
    left: 33rem;
}

#box-5{
    background-image: url("./Assets/Frame\ 131.png");
    background-position: top 0% right 63%;
    background-size: cover;
    height: 485px;
    text-align: center;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #fff;
}

#box-5 h1{

   padding-top: 7rem;
   padding-bottom: 2rem;

}

#box-5 p{
    max-width: 58rem;
   margin-left: 13.2rem;
   padding-bottom: 1.5rem;
   
}


.box-5-content-1{
position: absolute;
left: 33.5rem;
}

.box-5-content-2{
position: absolute;
left: 44rem;
}


#box-6{
    padding-top: 4rem ;
    padding-bottom: 3rem;
}

.box-6-img img{
    padding-left: 5rem;
}

.box-6-content {
    padding-top: 7rem;
}

.box-6-content h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding-left: 3.5rem;
    color: #00A3FF;
}
.box-6-content p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    max-width: 38rem;
    padding-top: 1.5rem;


}

#box-7{
    background-color: #CDEDFF;
    height:734px ;
    width:1200px;
    margin-left: 5rem;
    border-radius: .8rem;

    
}

#box-7 h1{
    padding-top: 3rem;
text-align: center;
font-family: "Poppins", sans-serif;
font-weight: 600;
color: #00A3FF;
}

#box-7 p{
    padding-top: .5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
text-align: center;

}

.box-7-img img{
margin-top: 1rem;
margin-left: 4rem;
}

.box-7-contactform{
    border: 1px solid black;
    width: 446px;
height: 486px;
flex-shrink: 0;
border-radius: 10.148px;
background: var(--icon-color, #FFF);
box-shadow: 0px 2.03px 2.03px 0px rgba(0, 0, 0, 0.25);
padding-left: 2.8rem;
padding-top: 2rem;
border: none;
margin-top: 2.8rem;
margin-left: 5rem;
}

.form-input{
    padding-top: 1.5rem;
}

.form-input input{
    height: 2.5rem;
    width: 88%;
    outline: none;
    padding: 0 20px;  
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #c7bebe;
    border-top-width: 1.9px;
    border-radius: 6px;
    transition: all 0.3s ease;
padding: .5rem;
font-family: "Poppins", sans-serif;

  

}

.form-textarea{
    padding-top: 1.5rem ;
}

.form-textarea textarea{
    height: 8rem;
    width: 88%;
    outline: none;
    padding: 0 20px;  
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #c7bebe;
    border-top-width: 1.9px;
    border-radius: 6px;
    transition: all 0.3s ease;
    padding: .5rem;
    font-family: "Poppins", sans-serif;

  
}

.form-button{
    padding-top: 1rem ;
    
}

.form-button button{
    color: #fff;
    background-color: #00A3FF;
    display: flex;
width: 189px;
height: 48px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: .5rem;
border: none;
font-family: "Poppins", sans-serif;
font-weight: 500;
}


/* landing page section */

#landingpage_section{
    padding-top: 2rem;
    background-image: url("./Assets/image\ 15.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3rem;

    
   
}

#landingpage_section h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    max-width: 660px;
    color: #00A3FF;
    margin-left: 18rem; 
    padding-top: 1.3rem;
    padding-bottom: 3rem;
    color: #fff;
}

.landing_main{
padding-bottom:3.5rem;
}

.landing_boxes  div {
    /* border: 1px solid ; */
    /* margin-left: 1rem; */
    width: 100%;
    padding-top: 1rem;
    padding:  10px 20px;
    color:#fff;
background-image: url("./Assets/Frame\ 136.png") ; 
background-size: contain;
background-repeat: no-repeat;
    
}

.landing_boxes h2 {
    font-size: 1.2rem;
    padding: .4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.landing_boxes p {
    font-size: .8rem;
    max-width: 200px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}


#footer{
    background: linear-gradient(to left, #002C45, #00456B, #005E92, #0076B8, #0082CB);
    color: #fff;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: 3rem;
    
}

.footer_content h3{
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.footer_content{
    padding-top: 2rem;
}

.footer_content ul li{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    
}


.footer_list {
   
    list-style: none; /* Removes default list styles (like bullets) */
    padding: 0;
}

.footer_list li {
    text-decoration: none; /* Remove underline */
}

